/* Card */
.card {
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
}

/* Card - Last Child */
.card:last-child {
  margin-bottom: 0;
}

/* Card Image */
.card-img > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

/* Card Body */
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

/* Details Container */
.details-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Author Image Div */
.author-img {
  display: flex;
  align-items: center;
}

/* Author Image */
.author-img > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  object-fit: cover;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
}

/* Author Name */
.author-name {
  color: #111111;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6;
  font-family: 'Exo 2', sans-serif;
}

/* Publish Date */
.publish-date {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(17, 17, 17, 0.6);
}

/* Read Time and Bookmark */
.read-time-and-bookmark {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Reading Details */
.reading-details {
  font-family: 'Exo 2';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.6);
}

/* Icon Container */
.icon-container {
  display: flex;
  align-items: center;
  line-height: 1;
}

/* Blog Title */
.blog-title {
  font-family: 'Exo 2';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  color: #111111;
}

/* Tags */
.tags {
  font-family: 'Exo 2';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: rgba(17, 17, 17, 0.6);
  margin-top: 1rem;
}

.tags > span {
  background-color: #f3f3f3;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 2px 6px;
}

.tags > span:not(:first-child) {
  margin-left: 10px;
}

/* Mark as Read Div */
.mark-as-read {
  font-family: 'Exo 2';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  margin-top: 1.25rem;
}

/* Mark as Read Button */
.mark-as-read > a {
  color: #6047EC;
  transition: all 0.3s;
}

/* Mark as Read Button Hover */
.mark-as-read > a {
  color: #2506d1;
}

/* Responsive Design */
@media screen and (max-width: 767px) {
  /* Card */
  .card {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  /* Card Image */
  .card-img > img {
    height: 200px;
  }
  /* Card Body */
  .card-body {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  /* Blog Title */
  .blog-title {
    font-size: 24px;
  }
  /* Tags */
  .tags {
    font-size: 14px;
    margin-top: 1rem;
  }
  /* Mark as Read Div */
  .mark-as-read {
    font-size: 16px;
    line-height: 18px;
  }
}